.paymentDasboard {
  width: 95%;
  margin: 0 auto;
  font-family: "Lato";
}
.heading-payment {
  font-size: 1.5rem;
  font-weight: 600;
}
.overview-transaction {
  padding-top: 20px;
}
.overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
select {
  font-size: 1.1rem;
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
}
.show-balance {
  display: flex;
  width: 100%;
  gap: 5px;
  font-size: 1.1rem;
  margin-bottom: 30px;
}
.show-balance div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100px;
  gap: 20px;
  background-color: white;
  padding: 10px;
  color: gray;
  border-radius: 5px;
}

.payment-platform ul {
  list-style: none;
  padding: 0;
  border-bottom: 1.2px solid rgb(198, 189, 189);
}
.payment-platform li {
  display: inline-block;
  padding-right: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}
.displayPayments {
  margin-top: 20px;
  background-color: white;
  margin-bottom: 20px;
}
.ans {
  font-size: 1.5rem;
  color: black;
  font-weight: 600;
}
.table-filter {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.table-filter span {
  display: flex;
  align-items: center;
  gap: 5px;
}
.sort {
  padding: 5px;
  font-size: 1.2rem;
  background-color: #e9e9e9;
  cursor: pointer;
  border-radius: 5px;
  &:hover {
    opacity: 0.7;
  }
}
.download {
  padding: 5px;
  cursor: pointer;
  background-color: #e9e9e9;
  border-radius: 5px;
  &:hover {
    opacity: 0.7;
  }
}
table {
  width: 100%;
}
th {
  text-align: start;
  width: 25%;
  padding: 10px;
  background-color: rgb(194, 190, 190);
  gap: 0;
}
td {
  padding: 15px;
}
.tdRow {
  cursor: pointer;
  &:hover {
    background-color: #f9f9f9;
  }
}

@media screen and (max-width: 860px) {
  .t-fee {
    display: none;
  }
}
